@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './fonts/fonts.css';

@red: #521d3a;
@light-red: #632949;

html, body {
	font-family: "Source Sans Pro",sans-serif;
  background-color: @red !important;
}

/* colors */
.bg-primary {
  background-color: @red !important;
}

.bg-secondary {
  background-color: @light-red !important;
}

p, ul, li, a, span, div {
	line-height: 1.27;
	font-size: 15px;
}
@media (min-width:660px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 16.25px;
	}
}
@media (min-width:860px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 17.5px;
	}
}
@media (min-width:1100px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 18.75px;
	}
}
@media (min-width:1300px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 20px;
	}
}
